.blog {

    main a,
    h3,
    .comment h2 {
        color: $forestGreen;
    }

    h1 {
        margin-top: 280px;
    }

    header{
        background-image: url(../assets/blog-header-1.jpg);
        background-position: bottom left;
        height: 575px;
    }

    main {
        background-color: $offWhite;
        padding-top: 135px;

        h2 {
            font-size: 2rem;
            line-height: 3.2rem;
        }    
    }

    .maxWrapper {
        display: flex;
        position: relative;
    }

    .leftColumn {
        width: 40%;
        padding-left: 10%;
        padding-right: 5%;

        .imgContainer {
            width: 131%;
            max-width: 519px;
            position: relative;
            left: calc(-40% + 20px);
            top: -20px;
            z-index: 1;
        }

        .whiteBackground {
            background: white;
            position: relative;
            left: -20px;
        }

        .aboutArticle,
        .recentPostsArticle {
            padding: 20px;
        }
    }

    .recentPosts {
        a {
            color: black;
            position: relative;
            top: 4px;
        }

        li {
            color: $green;
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    .rightColumn {
        width: 60%;
        position: relative;
        padding-right: 10%;

        .currentPostImage {
            width: calc(120% - 14px);
            max-width: 975px;
            position: relative;
            right: -14px;
            top: -430px;
        }

        .currentPostImage img {
            position: relative;
            z-index: 3;
        }

        .currentPostImage::before {
            @include backgroundBox(-20px, -20px, calc(100% - 10px), calc(100% - 20px));
            z-index: 2;
        }

        h3 {
            font-style: italic;
        }

        .profileImg {
            width: 92px;
        }
    }

    .currentPost {
        margin-top: -420px;
        position: relative;

        h2 {
            font-size: 4.3rem;
            letter-spacing: 1.3px;
        }

        &::before {
            @include backgroundBox(-6px, -6px);
        }

        .textContainer {
            padding: 50px 0 50px 50px;
            background: $offWhite;
            position: relative;
            z-index: 1;
        }
    }

    .commentsSection {
        padding: 50px;
    }

    .comment {
        display: flex;

        h2 {
            font-size: 2rem;
            line-height: 3.2rem;
        }

        .textContainer {
            width: calc(100% - 92px);
        }
    }

    form {
        padding: 80px 0 70px;
    }

    input, textarea {
        background: $offWhite;
    }

    input[type="text"],
    input[type="email"] {
        // width: calc(50% - 14px);
        margin-bottom: 55px;
        padding-left: 50px;
        padding-bottom: 12px;
    }

    input[type="text"] {
        // margin-right: 28px;
    }

    textarea {
        height: 260px;
        margin-bottom: 55px;
        padding: 45px 25px;
    }

    .greenStyling {
        width: 100%;
    }
}