.blog {

    main a,
    h3,
    .comment h2 {
        color: $forestGreen;
    }

    header{
        background-image: url(../assets/blog-header-1.jpg);
        background-position: bottom left;
        height: 575px;
    }

    main {
        background-color: $offWhite;
        padding-top: 135px;

    }

    .maxWrapper {
        display: flex;
        position: relative;
    }

    .leftColumn {
        background-color: white;
        width: 25%;
        margin-left: calc(10% - 20px);
        margin-right: 5%;
        padding: 20px;

        .imgContainer {
            height: 433px;
        }

        img {
            width: 32%;
            max-width: 513px;
            max-height: 433px;
            position: absolute;
            left: 0;
            top: -20px;
        }

        h2 {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }

    .recentPosts a {
        color: black;
    }

    .rightColumn {
        width: 50%;
        margin-right: 10%;

        .currentPostImage {
            height: 646px;
        }

        .currentPostImage img {
            width: 61%;
            max-width: 975px;
            max-height: 646px;
            position: absolute;
            right: 0;
            top: -430px;
        }

        h3 {
            font-style: italic;
        }

        .profileImg {
            width: 92px;
        }
    }

    .currentPost {
        h2 {
            font-size: 4.3rem;
            letter-spacing: 1.3px;
        }
    }

    .comment {
        h2 {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }
}