.blog {

    main a,
    h3,
    .comment h2 {
        color: $forestGreen;
    }

    h2 {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    header{
        background-image: url(../assets/blog-header-1.jpg);
        background-position: bottom left;
        height: 575px;
    }

    main {
        background-color: $offWhite;
        padding-top: 135px;

    }

    .maxWrapper {
        display: flex;
        position: relative;
    }

    .leftColumn {
        background-color: white;
        width: 25%;
        margin-left: calc(10% - 20px);
        margin-right: 5%;
        padding: 20px;
        height: 765px;

        .imgContainer {
            height: 320px;
        }

        img {
            width: 32%;
            max-width: 513px;
            max-height: 433px;
            position: absolute;
            left: 0;
            top: -20px;
        }
    }

    .recentPosts {
        a {
            color: black;
            position: relative;
            top: 4px;
        }

        li {
            color: $green;
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    .rightColumn {
        width: 50%;
        margin-right: 10%;

        .currentPostImage {
            width: 61%;
            max-width: 975px;
            max-height: 646px;
            position: absolute;
            right: 0;
            top: -430px;
        }

        .currentPostImage img {
            position: relative;
            z-index: 3;
        }

        .currentPostImage::before {
            @include backgroundBox(-20px, -20px, calc(100% - 10px), calc(100% - 20px));
            z-index: 2;
        }

        h3 {
            font-style: italic;
        }

        .profileImg {
            width: 92px;
        }
    }

    .currentPost {
        position: relative;

        h2 {
            font-size: 4.3rem;
            letter-spacing: 1.3px;
        }

        &::before {
            @include backgroundBox(-12px, -12px);
        }

        .textContainer {
            padding: 180px 50px 50px 50px;
            background: $offWhite;
            position: relative;
            z-index: 1;
        }
    }

    .commentsSection {
        padding: 50px;
    }

    .comment {
        display: flex;

        h2 {
            font-size: 2rem;
            line-height: 3.2rem;
        }

        .textContainer {
            width: calc(100% - 92px);
        }
    }

    form {
        padding: 80px 0 70px;
    }

    input, textarea {
        background: $offWhite;
    }

    input[type="text"],
    input[type="email"] {
        // width: calc(50% - 14px);
        margin-bottom: 55px;
        padding-left: 50px;
        padding-bottom: 12px;
    }

    input[type="text"] {
        // margin-right: 28px;
    }

    textarea {
        height: 260px;
        margin-bottom: 55px;
        padding: 45px 25px;
    }

    .greenStyling {
        width: 100%;
    }
}