.home {

    h1 {
        font-weight: 400;
        font-size: 16.6rem;
    }

    .yellowText {
        display: block;
        color: $sunnyYellow;
    }

    .aboutFounder {

        .imgContainer {
            width: 300px;
            position: relative;
        }

        .imgContainer img {
            position: relative;
            z-index: 1; 
        }

        .imgContainer::before {
            @include backgroundBox(150px, 150px);
        }

        .backgroundBox {
            top: 150px;
            left: 150px;
        }

    }
}