.home {
    header {
        background-image: url(../assets/home-image-1.jpg);
        height: 755px;
        position: relative;
        z-index: 1;

        .maxWrapper {
            position: relative;
        }

        .headerBox {
            width: 44%;
            position: absolute;
            bottom: -60px;
            right: 0;
            z-index: 0;
        }
    }

    .siteNav {
        background-color: transparent;
    }

    .flexContainer {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: white;
        font-weight: 400;
        font-size: 16.6rem;
        margin-left: 70px;
        margin-top: 210px;
    }

    .yellowText {
        display: block;
        color: $sunnyYellow;
    }

    .plantedIntro {
        background: $offWhite;
        padding-top: 200px;
        text-align: center;

        .wrapper {
            width: 66%;
        }

        h2 {
            font-size: 5.63rem;
            text-align: center;
            letter-spacing: 1.3px;
            margin-bottom: 10px;
        }

        .greenStyling {
            margin: 40px 0 220px;
        }
    }

    .furtherInfo {
        h2 {
            font-size: 3.2rem;
            letter-spacing: 1px;
            margin-top: 0;
            margin-bottom: 30px;
        }

        .greenStyling {
            margin-top: 35px;
        }

        .upcomingWorkshops,
        .uniquePlants {
            display: flex;

        }

        .imgContainer {
            width: calc(50% - 126px);
        }

        .textContainer {
            width: calc(40% - 106px);
        }

        .imageOne {
            margin-right: 126px;
            position: relative;
            top: -45px;

            img {
                position: relative;
                box-shadow: 30px 30px 0 -10px $sunnyYellow;
            }
        }
        
        .textOne {
            margin-left: 106px;
            margin-right: 10%;

            h2 {
                margin-top: 125px;
            }

            button {
                margin-bottom: 50px;
            }
        }

        .imageTwo {
            margin-left: 126px;
            position: relative;
            bottom: -50px;

            img {
                position: relative;
                box-shadow: -30px 30px 0 -10px $sunnyYellow;
                }
        }

        .textTwo {
            margin-left: 10%;
            margin-right: 106px;

            h2 {
                margin-top: 70px;
            }

            button {
                margin-bottom: 50px;
            }
        }

        .uniquePlants {
            text-align: right;
        }

    }

    .middleNav {
        background: $offWhite;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            padding-top: 158px;
            padding-bottom: 40px;
        }

        li {
            width: 50%;
        }

        a {
            color: $black;
            display: flex;
        }

        h2 {
            margin-top: 12px;
        }

        i {
            background: $sunnyYellow;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.7rem;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 25px;
        }

        .textContainer {
            width: calc(100% - 75px);
            text-align: left;
            padding-bottom: 60px;
        }

    }



    .aboutFounder {
        background: $offWhite;
        padding-top: 123px;
        padding-bottom: 85px;

        .wrapper {
            display: flex;
            justify-content: space-between;
        }

        .imgContainer {
            max-width: 304px;
            position: relative;
        }

        .imgContainer img {
            position: relative; 
            box-shadow: 20px 20px $sunnyYellow;
        }

        .textContainer {
            width: calc(100% - 435px)
        }

        h2 {
            font-size: 4.2rem;
            letter-spacing: 1px;
            margin-top: 0;
        }

        .greenStyling {
            margin-top: 30px;
        }

    }

    .imgGallery {
        padding: 100px 0;

        ul {
            display: flex;
            justify-content: center;
        }

        .imgContainer {
            max-width: 400px;
            margin: 0 20px;
        }
    }
}