@media (max-width: 1200px) {
    //BLOG

    .blog {
        h1 {
            margin-top: 180px;
        }

        .wrapper {
            text-align: center;
        }

        .currentPost {
            margin-top: 0;

            h2 {
                line-height: 5.3rem;
            }
        }

        .maxWrapper {
            flex-direction: column;
            align-items: center;
            margin-top: -175px;
        }

        .leftColumn {
            width: 100%;
            padding-left: 0;
            padding-right: 0;

            .flexContainer {
                width: 50%;
                padding-left: 5%;
                padding-top: 20px;
            }

            .whiteBackground {
                max-width: none;
                // left: 0;
                text-align: center;
                display: flex;
            }

            .imgContainer {
                width: 45%;
                max-width: none;
                left: 0;
                top: -40px;


            }
        }

        .rightColumn {
            width: 90%;
            padding-top: 80px;
            padding-right: 0%;

            .currentPostImage {
                width: 100%;
                max-width: none;
                top: 0;
            }
        }

        .currentPost {
            .textContainer {
                padding: 50px;
            }
        }
    }

    //CONTACT

    .contact {
        header {
            height: auto;
        }

        .maxWrapper {
            flex-direction: column;
        }


        .inTouch {
            height: auto;

            .maxWrapper {
                position: static;
            }
        }

        .leftColumn {
            width: 100%;
            margin: 0;
            padding: 70px 0;
            display: flex;
            justify-content: center;
            left: 0;

        }

        .socialNav {
            margin-top: 0;
        }

        h1 {
            color: $forestGreen;
        }

        h1, .flexItem {
            margin: 0 40px;
        }

        .flexItem {
            background-color: $offWhite;
        }

        .rightColumn {
            width: 100%;
            margin: 0;
            left: 0;
        }

        .formContainer::before {
            position: static;
        }
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    // GLOBAL TYPOGRAPHY
    .home {
        h1 {
            // https://css-tricks.com/simplified-fluid-typography/
            // I used this, but I am not sure if there's a better/ more
            // responsive way to do it
            font-size: calc(6rem + 106 * ((100vw - 768px) / 172));
            margin-left: calc(10px + 70 * ((100vw - 768px) / 172));
        }
    }

    //BLOG
    .blog {
        .whiteBackground {
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;

            .imgContainer {
                width: 100%;
                max-width: 513px;
            }

            .aboutArticle,
            .recentPostsArticle {
                padding: 20px;
            }
        }

        .leftColumn {  
                .flexContainer {
                    padding-left: 0;
                    width: auto;
                    max-width: 90%;
                }
        }
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    // GLOBAL TYPOGRAPHY/ ElEMENTS
    html {
        font-size: 56.25%;
    }


// ========================
// Assignment two styling below
// ========================


    .siteNav {
        ul {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .logo, .hamburgerButton {
            width: 50%;
            margin: 0;
        }

        .hamburgerButton {
            display: block;
            text-align: right;
        }

        .hamburgerMenu {
            display: block;
            width: 100%;
            text-align: center;

            li {
                margin: 0;
                background: rgba(0, 0, 0, 0.7);
            }

            a, p {
                display: block;
                width: 100%;
                padding: 50px 0;
            }
        }
    }
    //HOME
    .home {
        h1 {
            font-size: 6rem;
            margin-left: 10px;
        }
        .furtherInfo {
            .upcomingWorkshops,
            .uniquePlants {
                flex-direction: column;
            }
    
            .imgContainer,
            .textContainer {
                width: 100%;
            }

            .textContainer {
                text-align: center;
                margin: 0;
            }

            .imageOne {
                margin-right: 0;

                img {
                    box-shadow: 0 20px 0 $sunnyYellow;
                }
            }

            .textOne {
                margin: 0;

                h2 {
                    margin-top: 30px;
                }
            }

            .imageTwo {
                margin-left: 0;
                order: -1;
                position: static;

                img {
                    box-shadow: 0 20px 0 $sunnyYellow;
                }
            }

            .textTwo {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .middleNav {
            li {
                width: 100%;
            }
        }

        .aboutFounder {
            .wrapper {
                flex-direction: column;
            }

            .imgContainer {
                margin: 0 auto;
            }

            .textContainer {
                width: 100%;
                margin-top: 80px;
                text-align: center;
            }
        }

        .imgGallery {
            padding: 50px 0;

            ul {
                flex-direction: column;
                align-items: center;
            }

            li:nth-child(n + 2) {
                margin-top: 50px;
            }
        }
    }  

    //BLOG

    .blog {
        input[type="text"], input[type="email"] {
            padding-left: 25px;
        }
        textarea {
            padding: 25px;
        }
    }

    //CONTACT
    .contact {
        .leftColumn {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }
        .socialNav {
            ul {
                justify-content: center;
            }

            li {
                margin-left: 12px;
            }
        }
    }
    
}


/* Landscape phones and down */
@media (max-width: 480px) {
    // GLOBAL TYPOGRAPHY

    //BLOG
    .blog {
        .commentsSection {
            text-align: center;
        }

        .comment {
            flex-direction: column;

            .textContainer {
                width: 100%;
            }

            .imgContainer {
                margin: 0 auto 20px;
            }
        }

        input[type="text"], input[type="email"] {
            width: 100%;
            margin: 0 0 30px 0;
        }

        input[type="email"] {
            margin: 0 0 40px 0;
        }
    }

    //CONTACT
    .contact {
        form {
            padding: 30px;
        }

        input[type="text"], input[type="email"] {
            width: 100%;
            margin: 0 0 30px 0;
        }

        input[type="email"] {
            margin: 0 0 40px 0;
        }
    }
}