html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

p, h3, .recentPosts a {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin: 0;
}

button,
a,
.siteNav p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
}

a {
  text-decoration: none;
}

.siteNav {
  background-color: black;
}
.siteNav h2 {
  color: white;
  font-weight: 400;
  font-size: 4.2rem;
  margin: 0;
  line-height: 3.8rem;
}
.siteNav ul {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}
.siteNav li {
  margin: 0 26px;
}
.siteNav li:first-child {
  margin-left: 0;
}
.siteNav li:nth-child(2) {
  display: none;
}
.siteNav a, .siteNav p {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.siteNav p {
  color: #F8E71C;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

input, textarea {
  border: none;
  border-bottom: 2px solid #0E902D;
  font-size: 2rem;
  font-weight: 100;
  line-height: 3.2rem;
}

input[type=text],
input[type=email] {
  width: calc(50% - 14px);
  margin-bottom: 55px;
  padding-bottom: 12px;
}

input[type=text] {
  margin-right: 28px;
}

textarea {
  border: 2px solid #0E902D;
  height: 260px;
  margin-bottom: 55px;
  padding: 45px 25px;
  resize: none;
  width: 100%;
}

.greenStyling {
  background: #0E902D;
  border: none;
  color: white;
  padding: 9px 30px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.maxWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.lineBreak {
  display: block;
}

.contact h1, .blog h1 {
  color: #F8E71C;
  font-size: 8rem;
  line-height: 92px;
}

.copyright {
  background: #2C2C2C;
  color: #f0EFED;
  text-align: center;
}
.copyright p {
  padding: 7px 0;
  margin: 0;
}

.home header {
  background-image: url(../assets/home-image-1.jpg);
  height: 755px;
  position: relative;
  z-index: 1;
}
.home header .maxWrapper {
  position: relative;
}
.home header .headerBox {
  width: 44%;
  position: absolute;
  bottom: -60px;
  right: 0;
  z-index: 0;
}
.home .siteNav {
  background-color: transparent;
}
.home .flexContainer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home h1 {
  color: white;
  font-weight: 400;
  font-size: 16.6rem;
  margin-left: 70px;
  margin-top: 210px;
}
.home .yellowText {
  display: block;
  color: #F8E71C;
}
.home .plantedIntro {
  background: #f0EFED;
  padding-top: 200px;
  text-align: center;
}
.home .plantedIntro .wrapper {
  width: 66%;
}
.home .plantedIntro h2 {
  font-size: 5.63rem;
  text-align: center;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
}
.home .plantedIntro .greenStyling {
  margin: 40px 0 220px;
}
.home .furtherInfo h2 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 30px;
}
.home .furtherInfo .greenStyling {
  margin-top: 35px;
}
.home .furtherInfo .upcomingWorkshops,
.home .furtherInfo .uniquePlants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .furtherInfo .imgContainer {
  width: calc(50% - 126px);
}
.home .furtherInfo .textContainer {
  width: calc(40% - 106px);
}
.home .furtherInfo .imageOne {
  margin-right: 126px;
  position: relative;
  top: -45px;
}
.home .furtherInfo .imageOne img {
  position: relative;
  -webkit-box-shadow: 30px 30px 0 -10px #F8E71C;
          box-shadow: 30px 30px 0 -10px #F8E71C;
}
.home .furtherInfo .textOne {
  margin-left: 106px;
  margin-right: 10%;
}
.home .furtherInfo .textOne h2 {
  margin-top: 125px;
}
.home .furtherInfo .textOne button {
  margin-bottom: 50px;
}
.home .furtherInfo .imageTwo {
  margin-left: 126px;
  position: relative;
  bottom: -50px;
}
.home .furtherInfo .imageTwo img {
  position: relative;
  -webkit-box-shadow: -30px 30px 0 -10px #F8E71C;
          box-shadow: -30px 30px 0 -10px #F8E71C;
}
.home .furtherInfo .textTwo {
  margin-left: 10%;
  margin-right: 106px;
}
.home .furtherInfo .textTwo h2 {
  margin-top: 70px;
}
.home .furtherInfo .textTwo button {
  margin-bottom: 50px;
}
.home .furtherInfo .uniquePlants {
  text-align: right;
}
.home .middleNav {
  background: #f0EFED;
}
.home .middleNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 158px;
  padding-bottom: 40px;
}
.home .middleNav li {
  width: 50%;
}
.home .middleNav a {
  color: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .middleNav h2 {
  margin-top: 12px;
}
.home .middleNav i {
  background: #F8E71C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.7rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 25px;
}
.home .middleNav .textContainer {
  width: calc(100% - 75px);
  text-align: left;
  padding-bottom: 60px;
}
.home .aboutFounder {
  background: #f0EFED;
  padding-top: 123px;
  padding-bottom: 85px;
}
.home .aboutFounder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .aboutFounder .imgContainer {
  max-width: 304px;
  position: relative;
}
.home .aboutFounder .imgContainer img {
  position: relative;
  -webkit-box-shadow: 20px 20px #F8E71C;
          box-shadow: 20px 20px #F8E71C;
}
.home .aboutFounder .textContainer {
  width: calc(100% - 435px);
}
.home .aboutFounder h2 {
  font-size: 4.2rem;
  letter-spacing: 1px;
  margin-top: 0;
}
.home .aboutFounder .greenStyling {
  margin-top: 30px;
}
.home .imgGallery {
  padding: 100px 0;
}
.home .imgGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .imgGallery .imgContainer {
  max-width: 400px;
  margin: 0 20px;
}

.blog main a,
.blog h3,
.blog .comment h2 {
  color: #074115;
}
.blog h1 {
  margin-top: 280px;
}
.blog header {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: bottom left;
  height: 575px;
}
.blog main {
  background-color: #f0EFED;
  padding-top: 135px;
}
.blog main h2 {
  font-size: 2rem;
  line-height: 3.2rem;
}
.blog .maxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .leftColumn {
  width: 38%;
  padding-left: 10%;
  padding-right: 1%;
}
.blog .leftColumn .imgContainer {
  width: 131%;
  max-width: 519px;
  position: relative;
  left: calc(-40% + 20px);
  top: -20px;
  z-index: 1;
}
.blog .leftColumn .whiteBackground {
  background: white;
  max-width: 400px;
  position: relative;
  left: -20px;
}
.blog .leftColumn .aboutArticle {
  padding: 20px 50px 20px 20px;
}
.blog .leftColumn .recentPostsArticle {
  padding: 20px 50px 40px 20px;
}
.blog .aboutArticle a {
  font-style: italic;
}
.blog .recentPosts a {
  color: black;
  position: relative;
  top: 4px;
}
.blog .recentPosts li {
  color: #0E902D;
  list-style-type: disc;
  list-style-position: inside;
}
.blog .rightColumn {
  width: 62%;
  position: relative;
  padding-right: 10%;
}
.blog .rightColumn .currentPostImage {
  width: calc(119.2% - 14px);
  max-width: 978px;
  position: relative;
  right: -14px;
  top: -430px;
}
.blog .rightColumn .currentPostImage img {
  position: relative;
  z-index: 3;
}
.blog .rightColumn .currentPostImage::before {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  position: absolute;
  left: -20px;
  bottom: -20px;
  background-color: #F8E71C;
  z-index: 2;
}
.blog .rightColumn h3 {
  font-style: italic;
  margin-bottom: 60px;
}
.blog .currentPost {
  margin-top: -420px;
  position: relative;
}
.blog .currentPost h2 {
  font-size: 4.3rem;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}
.blog .currentPost::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -6px;
  bottom: -6px;
  background-color: #F8E71C;
}
.blog .currentPost .textContainer {
  padding: 50px 0 30px 50px;
  background: #f0EFED;
  position: relative;
  z-index: 1;
}
.blog .currentPost p {
  margin-bottom: 20px;
}
.blog .commentsSection {
  padding: 10px 50px 20px 50px;
}
.blog .commentsSection .commentHeading {
  margin-top: 40px;
  margin-bottom: 50px;
}
.blog .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog .comment:first-of-type {
  margin-bottom: 115px;
}
.blog .comment h2 {
  font-size: 2rem;
  line-height: 3.2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.blog .comment .profileImg {
  width: 92px;
  margin-right: 40px;
}
.blog .comment .textContainer {
  width: calc(100% - 92px);
}
.blog form {
  padding: 80px 0 0;
}
.blog input, .blog textarea {
  background: #f0EFED;
}
.blog input[type=text],
.blog input[type=email] {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  padding-left: 50px;
}
.blog input[type=text] {
  margin-right: 50px;
}
.blog textarea {
  height: 215px;
  margin-bottom: 45px;
  padding: 45px 50px;
}
.blog .greenStyling {
  width: 100%;
  margin-bottom: 85px;
}

.contact header {
  background-image: url(../assets/contact-header-1.jpg);
  height: 575px;
}
.contact .inTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 575px;
  background: #f0EFED;
}
.contact .maxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: -260px;
}
.contact .leftColumn {
  width: 28%;
  margin-left: calc(10% - 70px);
  position: relative;
  left: 70px;
}
.contact .socialNav {
  margin-top: 195px;
}
.contact .socialNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contact .socialNav li {
  margin: 0 12px;
}
.contact .socialNav li:first-child {
  margin-left: 0;
}
.contact .socialNav a {
  color: #0E902D;
  font-size: 2.5rem;
}
.contact strong {
  display: block;
  font-weight: 700;
  margin: 20px 0;
  letter-spacing: 2px;
}
.contact .contactInfo {
  margin-bottom: -9px;
}
.contact .rightColumn {
  width: 72%;
  margin-right: 10%;
  position: relative;
  left: 70px;
  bottom: 20px;
}
.contact .formContainer {
  position: relative;
}
.contact .formContainer::before {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  left: -20px;
  bottom: -20px;
  background-color: #F8E71C;
}
.contact form {
  background: white;
  padding: 80px 70px 70px;
}
.contact input[type=text],
.contact input[type=email] {
  padding-left: 25px;
}
.contact .greenStyling {
  width: 100%;
}

@media (max-width: 1200px) {
  .blog h1 {
    margin-top: 180px;
  }
  .blog .wrapper {
    text-align: center;
  }
  .blog .currentPost {
    margin-top: 0;
  }
  .blog .currentPost h2 {
    line-height: 5.3rem;
  }
  .blog .maxWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -175px;
  }
  .blog .leftColumn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .blog .leftColumn .flexContainer {
    width: 50%;
    padding-left: 5%;
    padding-top: 20px;
  }
  .blog .leftColumn .whiteBackground {
    max-width: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog .leftColumn .imgContainer {
    width: 45%;
    max-width: none;
    left: 0;
    top: -40px;
  }
  .blog .rightColumn {
    width: 90%;
    padding-top: 80px;
    padding-right: 0%;
  }
  .blog .rightColumn .currentPostImage {
    width: 100%;
    max-width: none;
    top: 0;
  }
  .blog .currentPost .textContainer {
    padding: 50px;
  }

  .contact header {
    height: auto;
  }
  .contact .maxWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .inTouch {
    height: auto;
  }
  .contact .inTouch .maxWrapper {
    position: static;
  }
  .contact .leftColumn {
    width: 100%;
    margin: 0;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
  }
  .contact .socialNav {
    margin-top: 0;
  }
  .contact h1 {
    color: #074115;
  }
  .contact h1, .contact .flexItem {
    margin: 0 40px;
  }
  .contact .flexItem {
    background-color: #f0EFED;
  }
  .contact .rightColumn {
    width: 100%;
    margin: 0;
    left: 0;
  }
  .contact .formContainer::before {
    position: static;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .home h1 {
    font-size: calc(6rem + 106 * ((100vw - 768px) / 172));
    margin-left: calc(10px + 70 * ((100vw - 768px) / 172));
  }

  .blog .whiteBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
  }
  .blog .whiteBackground .imgContainer {
    width: 100%;
    max-width: 513px;
  }
  .blog .whiteBackground .aboutArticle,
.blog .whiteBackground .recentPostsArticle {
    padding: 20px;
  }
  .blog .leftColumn .flexContainer {
    padding-left: 0;
    width: auto;
    max-width: 90%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  .siteNav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .siteNav li:nth-child(2) {
    display: block;
  }
  .siteNav li:nth-child(n+3) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .home h1 {
    font-size: 6rem;
    margin-left: 10px;
  }
  .home .furtherInfo .upcomingWorkshops,
.home .furtherInfo .uniquePlants {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .furtherInfo .imgContainer,
.home .furtherInfo .textContainer {
    width: 100%;
  }
  .home .furtherInfo .textContainer {
    text-align: center;
    margin: 0;
  }
  .home .furtherInfo .imageOne {
    margin-right: 0;
  }
  .home .furtherInfo .imageOne img {
    -webkit-box-shadow: 0 20px 0 #F8E71C;
            box-shadow: 0 20px 0 #F8E71C;
  }
  .home .furtherInfo .textOne {
    margin: 0;
  }
  .home .furtherInfo .textOne h2 {
    margin-top: 0;
  }
  .home .furtherInfo .imageTwo {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: static;
  }
  .home .furtherInfo .imageTwo img {
    -webkit-box-shadow: 0 20px 0 #F8E71C;
            box-shadow: 0 20px 0 #F8E71C;
  }
  .home .furtherInfo .textTwo {
    margin-left: 0;
    margin-right: 0;
  }
  .home .middleNav li {
    width: 100%;
  }
  .home .aboutFounder .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .aboutFounder .imgContainer {
    margin: 0 auto;
  }
  .home .aboutFounder .textContainer {
    width: 100%;
    margin-top: 80px;
    text-align: center;
  }
  .home .imgGallery {
    padding: 50px 0;
  }
  .home .imgGallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .imgGallery li:nth-child(n+2) {
    margin-top: 50px;
  }

  .blog input[type=text], .blog input[type=email] {
    padding-left: 25px;
  }
  .blog textarea {
    padding: 25px;
  }

  .contact .leftColumn {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .socialNav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .socialNav li {
    margin-left: 12px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .blog .commentsSection {
    text-align: center;
  }
  .blog .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .comment .textContainer {
    width: 100%;
  }
  .blog .comment .imgContainer {
    margin: 0 auto 20px;
  }
  .blog input[type=text], .blog input[type=email] {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .blog input[type=email] {
    margin: 0 0 40px 0;
  }

  .contact form {
    padding: 30px;
  }
  .contact input[type=text], .contact input[type=email] {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .contact input[type=email] {
    margin: 0 0 40px 0;
  }
}